@import 'behaviors';
@import 'helpers';
@import 'colors';
button {
  display: inline-block;
  line-height: 1;
  padding: 8px 24px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s;
  border: none;
  width: 100%;
  min-height: $size * 9;
  cursor: pointer;
  color: $white;
  outline-color: transparent;
  &.primary {
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 4%);
    }
  }
  &.secondary {
    background-color: $secondary;
    &:hover {
      background-color: darken($secondary, 4%);
    }
  }
  &.tertiary {
    background-color: $tertiary;
    &:hover {
      background-color: darken($tertiary, 4%);
    }
  }
  &.link {
    background-color: transparent;
    color: $secondary;
    font-weight: 700;
    width: auto;
    padding: 0 $size;
    font-size: $size * 3;
    &:hover {
      color: lighten($secondary, 24%);
    }
  }
  &.icon {
    @include flex-center;
    i {
      transition: all 0.3s ease-in-out;
      margin-right: $size;
      transform: scale(0.8);
    }
    &:hover {
      i {
        transform: scale(0.8) translateX(-4px);
      }
    }
  }
  &:disabled {
    opacity: 0.8;
    background-color: ligthen($secondary, 14%);
    cursor: default;
    &:hover {
      opacity: 0.8;
      background-color: ligthen($secondary, 14%) !important;
    }
  }
  &:active {
    transform: scale(0.98);
  }
}
