@import 'behaviors';
@import 'colors';

input {
  outline-color: transparent;
  width: 100%;
  border: none;
  padding: $size * 3;
  margin: 0 0 $size * 4;
  border-radius: $size;
  border: 1px solid #e5e5e5;
  font-size: $size * 3;
  font-size: 0.75rem;
  font-weight: 700;
  color: $black;
  &:active,
  &:focus {
    box-shadow: 0 5px 10px rgba($primary, 0.41);
  }
}
