@import 'behaviors';
@import 'colors';

input,
select,
textarea {
  outline-color: transparent;
  width: 100%;
  border: none;
  padding: $size * 3;
  margin: 0 0 $size * 4;
  border-radius: $size;
  border: 1px solid #e5e5e5;
  font-size: $size * 3;
  font-size: 0.75rem;
  font-weight: 700;
  color: $black;
  &:active,
  &:focus {
    border: 1px solid darken(#e5e5e5, 24%);
  }
}
.form-check-label {
  @include flex-center;
  align-items: center;
  cursor: pointer;
  padding: 0.6em 0.2em;
  margin: $size 0;
  &:hover {
    background: rgba($black, 0.05);
  }
  &:active {
    background: rgba($black, 0.1);
  }
  input {
    width: auto;
    margin: 0 $size * 3 0 0;
  }
  span {
    color: lighten($black, 20%) !important;
    user-select: none;
  }
}
