<div class="login" [ngClass]="{ 'login-mb': isLogin }">
  <scm-login class="animated slideInLeft faster" *ngIf="!showContent">
    <div class="account-not">
      <span>Ainda não tem uma conta?</span>
      <button class="link" (click)="changeRegister()">Registre-se.</button>
    </div>
  </scm-login>
</div>
<div class="register" [ngClass]="{ 'login-mb': !isLogin }">
  <scm-register *ngIf="showContent" class="animated slideInRight faster">
    <div class="account-not">
      <span>Já tem uma conta?</span>
      <button class="link" (click)="changeRegister()">Faça seu login.</button>
    </div>
  </scm-register>
</div>
<div class="bg" [ngClass]="{ login: isLogin }">
  <img src="./assets/background.png" alt="" />
</div>
