@import '../../styles/';
:hosttrack-main {
  .main {
    @include flex;
    .content {
      width: 100%;
      margin: 1.5em 2em;
      .container {
        margin-left: -1em;
        @include flex;
      }
    }
  }
}
