@import '../../styles/';
:hostscm-list {
  .list {
    margin-left: -1em;
    @include flex;
    flex-wrap: wrap;
    .card {
      position: relative;
      min-width: 300px;
      max-width: 300px;
      @include flex;
      .media {
        @include flex;
        img {
          height: 85px;
          width: 85px;
          border-radius: 100%;
          object-fit: cover;
          margin-right: 1em;
        }
        .content {
          .header {
            max-width: 60%;
            margin-top: 0;
          }
        }
      }

      .actions {
        @include flex;
        position: absolute;
        right: 12px;
        top: 8px;
      }
      @media (max-width: $medium-screen) {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }
    }
    @media (max-width: $medium-screen) {
      flex-direction: column;
      width: 100%;
    }
  }
  @media (max-width: $medium-screen) {
    width: 100%;
  }
}
