<div [formGroup]="form">
  <input
    autocomplete="off"
    *ngIf="!field.multiline"
    [attr.type]="field.type"
    class="form-control"
    [id]="field.id"
    [name]="field.name"
    [value]="field.value | async"
    [formControlName]="field.name"
  />
  <textarea
    *ngIf="field.multiline"
    [class.is-invalid]="isDirty && !isValid"
    [formControlName]="field.name"
    [id]="field.name"
    rows="9"
    [value]="field.value"
    class="form-control"
    [placeholder]="field.placeholder"
  ></textarea>
</div>
