<div class="form">
  <form [formGroup]="registerForm" (submit)="register()">
    <img src="../../assets/logo.png" alt="" height="132" />
    <h4>Register</h4>
    <p>
      Crie uma conta e tenha o melhor software de gerenciamento escolar da
      América Latina
    </p>
    <input
      placeholder="Nome completo"
      type="text"
      formControlName="email"
      autocomplete="disabled"
    />
    <input
      placeholder="Endereço de e-mail"
      type="email"
      formControlName="email"
      autocomplete="disabled"
    />
    <input
      placeholder="Senha"
      type="password"
      formControlName="password"
      autocomplete="disabled"
    />
    <input
      placeholder="Repita a senha"
      type="password"
      formControlName="confirmPassword"
      autocomplete="disabled"
    />
    <button class="primary" [disables]="!registerForm.valid">Entrar</button>
  </form>
  <ng-content></ng-content>
</div>
