<div [formGroup]="form">
  <div
    class="picture"
    dropZone
    (hovered)="toggleHover($event)"
    (dropped)="field.onUpload($event)"
    [class.hovering]="isHovering"
  >
    <div class="circle" (click)="file.click()">
      <img class="card-img-top" [src]="field.value" />
    </div>
    <label class="p-image">
      <i class="gg-image"></i>
      <input
        #file
        class="file-upload"
        type="file"
        accept="image/*"
        (change)="field.onUpload($event); onSelectFile($event)"
      />
    </label>
  </div>
</div>
