<div [formGroup]="form">
  <label [attr.for]="field.label">
    <span> {{ field.label }}</span>
    <strong class="text-danger" *ngIf="field.required">*</strong>
  </label>
  <div [ngSwitch]="field.type">
    <ng-container [ngSwitch]="true">
      <scm-text-box
        *ngSwitchCase="
          field.type === 'text' ||
          field.type === 'number' ||
          field.type === 'password'
        "
        [field]="field"
        [form]="form"
      ></scm-text-box>
    </ng-container>

    <scm-dropdown
      *ngSwitchCase="'dropdown'"
      [field]="field"
      [form]="form"
    ></scm-dropdown>
    <scm-checkbox
      *ngSwitchCase="'checkbox'"
      [field]="field"
      [form]="form"
    ></scm-checkbox>
    <scm-radio
      *ngSwitchCase="'radio'"
      [field]="field"
      [form]="form"
    ></scm-radio>
    <scm-file *ngSwitchCase="'file'" [field]="field" [form]="form"></scm-file>
    <div class="fadeInDown animated" *ngIf="!isValid && isDirty">
      <span>{{ field.label }} campo obrigatório</span>
    </div>
  </div>
</div>
